*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Winky Rough", sans-serif;
 
}
body{
    display: flex;
}

/*Common section*/
.half-column{
    width:50%;
}
.full-cloumn{
    width:100%;
}
.left-wrapper {
    width:40%;
}
.right-wrapper {
    width:60%;
}

.nav-wrapper{
    display:flex;
    background-color: black;
    width:18%;
    height: 100vh;
    justify-content: center; 
    align-items: center;
}
.nav-wrapper  i{
   padding-right:5px;
}
.nav-wrapper ul li{
    list-style-type: none;
    padding: 12px 12px 12px 0 ;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
   
    
}
.nav-wrapper ul li a {
    display:inline-block;
    color:#fff;
    font-size:20px;
    text-decoration: none;
    font-weight: bold;
}

.nav-wrapper ul li:hover a{
    color: rgba(67, 211, 67, 0.575);; 
    transform: scale(1.05); 
    box-shadow: 0 4px 15px rgba(0, 128, 0, 0.2); 
    cursor: pointer;
}

.content-wrapper{
    display:flex;
    background-color: rgba(55, 54, 54, 1);
    width: 82%;
    align-items: center;
    
}
.content-wrapper .left-content{
    margin-left:200px;


}
.content-wrapper h1{
    color:rgb(64, 189, 67);
    font-size:46px;
    padding-bottom: 16px  ;
}
.content-wrapper p{
    color:#fff;
    font-size:32px;
    padding-bottom:16px;
}
.content-wrapper .contact-button{
  
  
}
.content-wrapper .contact-button button{
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: rgb(222, 232, 222);
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button .hire-button{
    margin-right:8px;
}
.content-wrapper .contact-button button:hover {
    background-color: rgba(0, 255, 0, 0.3);
    transform: scale(1.05); 
    display:flex;
    align-items: stretch;
}

.content-wrapper .right-content .img-slice{
    width:70%;
    max-height:50%;
    margin-left:92px;
}
.content-wrapper .about-content{
    margin-left: 80px;
    margin-right: 14px;
    position: relative;
}

.content-wrapper  h2{
    font-size: 40px;
    color: rgb(64, 189, 67);

}
.content-wrapper .about-content h2 ,.content-wrapper .about-content .about-sub{
    margin-left:-10px;
}
.content-wrapper .about-content .about-sub {
    padding-top:18px;
}
.content-wrapper .about-content .about-sub span{
    color: rgb(64, 189, 67);
    font-weight: bold;
}

.content-wrapper .about-content p{
    font-size: 18px;
    letter-spacing: 1.4;
    line-height: 1.4;
}


/*About section*/
.about-skills{
    display: flex;
    flex-direction: row; 
}

.about-skills ul{
    color: rgb(64, 189, 67);
    font-weight: bold;
    list-style-type: none;
}
.about-skills ul span{
    color:#fff;
    font-weight: none;
}
.about-skills ul li{
  position: relative;
  padding-bottom: 10px;
}
.about-left ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;  
    height: 1px;
    background-color: rgba(128, 128, 128, 0.4);
  }

.about-skills .about-left {
    margin-right: 100px;
    display: flex;
    width: 50%;
    margin-top:10px;
}
.about-skills .about-left .ul-right{
    margin-left: 100px;
}
.about-skills .about-left ul li{
    padding:10px 0;
}
.about-right{
    padding:20px;
    max-width:400px;
    width:50%;
}
.skills-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    margin-left:-20px;
}

.skills-list li {
    margin-bottom: 10px;
    color: #a3f7bf;
    font-weight: bold;
  }

.bar{
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    height: 10px;
    margin-top: 6px;
}
  
.progress {
    height: 100%;
    background-color:rgb(64, 189, 67);
    border-radius: 10px;
}

.progress.html {
    width: 100%;
}
  
.progress.css {
    width: 70%;
}
  
.progress.js {
    width: 85%;
}
  
.progress.python {
    width: 60%;
}
  
.progress.reactjs {
    width: 75%;
}

.about-button{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: fit-content;
    margin-top:-74px;
    margin-left: 220px;
}

/*Contact section*/
.contact-section-left {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
.contact-section-left h2{
    margin-bottom: 10px;
}
.contact-section-left .contact-method-wrapper{
    margin-bottom:30px;
    cursor: pointer;
}


.contact-section-left .contact-icon {
    color:rgb(105, 228, 107);
    font-size:32px;
    text-align: center;
}

.contact-section-left .contact-info p {
    font-size: 12px;
    text-align: center;
    padding-bottom:10px;
}
.contact-section-left .contact-info p a{
    font-size: 12px;
    text-align: center;
    padding-bottom:10px;
    text-decoration: none;
    color:#fff;
}
.contact-section-left .contact-info .heading-contact-info{
    color:rgb(105, 228, 107);
}

.contact-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
.contact-content-heading {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
.bar-icon{
    align-items: center;
    display: flex;
    justify-content:right;
   
  }
  
.icon-list {
    background-color: #000;
    border-radius: 20px;
    padding:8px;
  }
  
  .icon-list i {
    color: white;
    background-color: #1f1f1f;
    padding: 8px;
    font-size: 12px;
    border-radius: 50%;
    transition: background 0.3s;
    cursor: pointer;
  }
  
.icon-list i:hover {
    background-color: #34c759;
  }

.contact-section-right{
    margin-right:30px;
}
form{
    text-align: center;
}
.input-wrapper{
    display: flex;
    gap:20px;
    flex-direction: row;
    justify-content: space-between;
}
.input-wrapper .name-text, .input-wrapper .email-text{
    padding:10px;
    margin-bottom:30px;
    background-color: #1f1f1f;
    border: none;
    border-radius: 5px;
   
}

.message-text
{
  height: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  resize: none; /* không cho kéo giãn */
  font-size: 14px;
  background-color: #1f1f1f;
  color: white;
  margin-bottom: 30px;
}

.send-button{
    background-color:rgb(25, 92, 27) ;
    padding:10px 15px;
    border:none;
    border-radius: 5px;
    margin-left:auto;
    margin-right: auto;
    color:#fff;
    cursor: pointer;
}
.send-button:hover{
    background-color: rgb(9, 48, 10);
   
}

/*Services section*/
.list-services{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}   

.list-services .box-service{
    position: relative;
    background-color: #fff;
    margin:20px 30px;
    padding: 50px 20px;
    min-width: 210px;
    min-height: 200px;
    border:none;
    border-radius: 15px;
}
.box-service h3 {
    max-width: 200px;        /* hoặc kích thước phù hợp */
    word-wrap: break-word;   /* nếu có từ dài, cho phép xuống dòng */
    text-align: center;      /* căn giữa nếu cần */
    margin: 0 auto;
    margin-top:-30px;
}
.box-service p {
    color:#000;
    font-size: 20px;
    padding:5px 0;
}
.box-service p a{
    text-decoration: none;
    color:#000;
}
.box-service .button-wrapper{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.box-service .button-detail{
    width: 90%; 
    padding: 10px;
    font-size: 16px;
    border:none;
    border-radius: 5px;
    background-color: #34c759 ;
    color:#fff;
    cursor: pointer;
}

.box-service .button-detail:hover{
    background-color: #000;
    color:#fff;

}